.choose-banner {
  background-image: url("https://st4.depositphotos.com/9335968/21578/i/450/depositphotos_215788146-stock-photo-why-choose-blue-light-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}
