.ITServiceBanner {
  background-image: url("https://t4.ftcdn.net/jpg/02/74/63/29/360_F_274632911_5TAiiWPchJbnmbxW6eXDN7EiCZbBYS7U.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}
