.ITSecurityRiskManagementBanner {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5fa518dbfa9ccd19e9d34733/1669115222288-5SHVLBXP62SARW5H5GA4/shutterstock_1812057265.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 100%;
}
