.ItTrainingBanner {
  background-image: url("https://img.pikbest.com/background/20220119/school-season-blackboard-color-brush-black-simple-banner_6231018.jpg!w700wp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}
